
.table-container {
  width: 100%;
  margin: 20px 0;
}


.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
}


.table thead {
  background-color: #f0f0f0;
}

.table th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

/* Table Body */
.table tbody tr {
  transition: background-color 0.3s ease;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row color */
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination .active {
  background-color: #0056b3;
}

.horizontal-options {
  margin-bottom: 20px;
}

.horizontal-options button {
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.horizontal-options button:hover {
  background-color: #0056b3;
}

.horizontal-options button.active {
  background-color: #0056b3;
}
.icon{
  margin:10px;
}